@{
    ViewBag.Title = "Index";
}



<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>Form Layouts | Okler Themes | Porto-Admin</title>
    <meta name="keywords" content="HTML5 Admin Template" />
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/assets/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/theme.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/skins/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/theme-custom.css">

    <!-- Head Libs -->
    <script src="~/assets/vendor/modernizr/modernizr.js"></script>
  
    <style>
        h1 {
            color: Green;
        }

        div.scroll {
            margin: 4px, 4px;
            padding: 4px;
            background-color: green;
            width: 500px;
            height: 110px;
            overflow-x: hidden;
            overflow-y: auto;
            text-align: justify;
        }
    </style>

</head>
<body>
    <section class="body">

        <div class="content">

            <br>
            <div class="col-lg-8 col-sm-3">
                <div class="panel-body" id="ContenedorImagen">


                    <section class="panel">
                         
                        <br />

                        <img style="width:650px;height:550px;" src="~/assets/humano_body_bynick.jpg" id="testimg" />
                        

                    </section>

                </div>
            </div>



            <div class="col-md-4">
                <section class="panel">
                    <header class="panel-heading">
                        <h2 class="panel-title"
                            <!--style="font-size:16px;"-->Información

                            @*<button type="button" class="btn btn-primary"> Guardar    <i class="fa fa-save"></i> </button>*@
                        </h2>

                    </header>



                    <div class="panel-body">
                        <div class="row">
                            <form class="form-horizontal form-bordered" method="get">


                                <ul class="nav nav-pills nav-stacked anyClass">
                                    <div id="ContainerDivs" class="overflow-auto">



                                    </div>
                                </ul>






                            </form>

                        </div>

                    </div>

                </section>
            </div>
        </div>


    </section>

    <!-- Vendor -->
    <script src="~/assets/vendor/jquery/jquery.js"></script>
    <script src="~/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="~/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="~/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/assets/javascripts/theme.js"></script>

    <!-- Theme Custom -->
    <script src="~/assets/javascripts/theme.custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/assets/javascripts/theme.init.js"></script>

    <script type="text/javascript">



         

        var capint = 0;


        getAllData();

        // drawPointLoad();

        $("#testimg").click(function (ev) {



            mouseX = ev.pageX;
            mouseY = ev.pageY
            alertaa(mouseX, mouseY);


        })

        function drawPointLoad() {
            var color = '#000000';
            var size = '24px';
            $("body").append(
                $('<div  style="color:#FFFFFF" id="COntairner"  onclick="capId(' + capint + ')" >&nbsp' + capint + '</div> ')
                    .css('position', 'absolute')
                    .css('top', 371 + 'px')
                    .css("border-radius", "10px")
                    .css('left', 512 + 'px')
                    .css('width', size)
                    .css('height', size)
                    .css('background-color', color)


                //$('<div  style="color:#FFFFFF" id="COntairner"  onclick="capId(' + capint + ')" >&nbsp' + capint + '</div> ')
                //   .css('position', 'absolute')
                //   .css('top', 388 + 'px')
                //   .css("border-radius", "10px")
                //   .css('left', 216 + 'px')
                //   .css('width', size)
                //   .css('height', size)
                //   .css('background-color', color)

            );

            $("body").append(
                //$('<div  style="color:#FFFFFF" id="COntairner"  onclick="capId(' + capint + ')" >&nbsp' + capint + '</div> ')
                //    .css('position', 'absolute')
                //    .css('top', 371 + 'px')
                //    .css("border-radius", "10px")
                //    .css('left', 512 + 'px')
                //    .css('width', size)
                //    .css('height', size)
                //    .css('background-color', color)


                $('<div  style="color:#FFFFFF" id="COntairner"  onclick="capId(' + capint + ')" >&nbsp' + capint + '</div> ')
                    .css('position', 'absolute')
                    .css('top', 388 + 'px')
                    .css("border-radius", "10px")
                    .css('left', 216 + 'px')
                    .css('width', size)
                    .css('height', size)
                    .css('background-color', color)

            );


            $("COntairner").append(
                $('<div  id="COntairner" onclick="capId(' + capint + ')" ></div> ')

            );
        }

        function drawPoint(mouseX, mouseY) {
            var color = '#000000';
            var size = '24px';
            $("body").append(
                $('<div  style="color:#FFFFFF" id="COntairner"  onclick="capId(' + capint + ')" >&nbsp' + capint + '</div> ')
                    .css('position', 'absolute')
                    .css('top', mouseY + 'px')
                    .css("border-radius", "10px")
                    .css('left', mouseX + 'px')
                    .css('width', size)
                    .css('height', size)
                    .css('background-color', color)
            );


            $("COntairner").append(
                $('<div  id="COntairner" onclick="capId(' + capint + ')" ></div> ')

            );
        }

        function alertaa(mouseX, mouseY) {


            //$('#exampleModal').modal('toggle');

            $('#exampleModal').modal('show');
            $("#TxtDescripcion").focus();
            $("#TxtDescripcion").val("");
            $('#ContainerEditar').hide();
            $('#ContainerRegistro').show();






        }

        function capId(item) {

            getAllDataById(item);

        }

        function get() {


            alert(capint);

        }


        function getId(capint) {


            alert(capint);

        }

        function setDiv(number, description) {
            var $tbody = $('#ContainerDivs');
            $tbody.append('<div class="form-group">' +
                '<label class= "col-md-3 control-label" > ' + number + '</label >' +
                '   <div class="col-md-6">' +
                '      <input type="text" readonly class="form-control" value="' + description + '" id="inputDefault">' +
                '							</div>' +
                '<button type="button" class="btn btn-danger" onclick="DeleteData( ' + number + ')" > <i class="fa fa-trash-o"></i> </button>' +



                '</div>');
        }



        function sendData(id, name, X, Y) {

            var perpObj = {
                Id: id,
                Name: name,
                X: X,
                Y: Y


            };
            $.ajax({
                url: "/Dispositivos/ReqDataHuman",
                data: JSON.stringify(perpObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {




                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }


        function UpdateData() {

            var perpObj = {
                Id: $("#TxtId").val(),
                Name: $("#TxtDescripcion").val()


            };
            $.ajax({
                url: "/Dispositivos/UpdateDataHuman",
                data: JSON.stringify(perpObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {



                    window.location.reload(); //Another possiblity
                    history.go(0);


                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }

        function DeleteData(id) {

            var IdCap = id;

            if (IdCap == "EliminarAction") {


                IdCap = $("#TxtId").val();
            }


            var perpObj = {
                Id: IdCap



            };
            $.ajax({
                url: "/Dispositivos/DeleteItem",
                data: JSON.stringify(perpObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {


                    window.location.reload(); //Another possiblity
                    history.go(0);

                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }


        function getAllData() {



            var perpObj = {
                Id: 1



            };
            $.ajax({
                url: "/Dispositivos/getAllItems",
                data: JSON.stringify(perpObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (respJson) {


                    //  $("#COntairner").empty();
                    for (var i in respJson) {


                        if ($.isEmptyObject(respJson)) {

                        } else {
                            var Data = respJson[i];

                            var color = '#000000';
                            var size = '24px';
                            $("body").append(
                                $('<div  style="color:#FFFFFF" id="COntairner"  onclick="capId(' + Data.Id + ')" >&nbsp' + Data.Id + '</div> ')
                                    .css('position', 'absolute')
                                    .css('top', Data.Y + 'px')
                                    .css("border-radius", "10px")
                                    .css('left', Data.X + 'px')
                                    .css('width', size)
                                    .css('height', size)
                                    .css('background-color', color));



                            setDiv(Data.Id, Data.Name);

                            capint = Data.IdCounter;
                        }



                    }






                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });



        }


        function getAllDataById(Id) {



            var perpObj = {
                Id: Id



            };
            $.ajax({
                url: "/Dispositivos/getAllItemsById",
                data: JSON.stringify(perpObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (respJson) {


                    //  $("#COntairner").empty();
                    for (var i in respJson) {


                        if ($.isEmptyObject(respJson)) {

                        } else {
                            var Data = respJson[i];

                            //swal(`Selccionado : ${Data.Name}`);



                            $('#exampleModal').modal('show');
                            $("#TxtDescripcion").focus();
                            $("#TxtDescripcion").val(Data.Name);

                            $("#TxtId").val(Data.Id);



                            $('#ContainerEditar').show();
                            $('#ContainerRegistro').hide();


                        }



                    }




                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });



        }



    </script>

    <style>
        .modal-dialog-center {
            margin-top: 15%;
        }

        .anyClass {
            height: 560px;
            overflow-y: scroll;
        }
    </style>



    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-center" role="document">

            <form id="FrmData">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Información</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="panel-body">

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Desripción: </label>
                                <div class="col-sm-8">
                                    <input type="text" placeholder="Ingrese Descripción" required autofocus name="name" id="TxtDescripcion" class="form-control">
                                </div>
                            </div>

                            <div hidden class="form-group">
                                <label class="col-sm-4 control-label">Número: </label>
                                <div class="col-sm-8">
                                    <input type="text" name="name" readonly id="TxtId" class="form-control">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">



                        <div id="ContainerRegistro">   <button type="submit" class="btn btn-primary">Insertar</button></div>

                        <div hidden id="ContainerEditar">
                            <button type="button" hidden onclick="UpdateData()" class="btn btn-primary">Actualizar</button>
                            <button type="button" hidden onclick="DeleteData('EliminarAction')" class="btn btn-danger">Eliminar</button>
                        </div>

                    </div>
                </div>
            </form>


        </div>
    </div>

    <script>

        $('#FrmData').submit(function (e) {
            e.preventDefault();


            if ($("#TxtDescripcion").val() == "") {


            } else {

                var value = $("#TxtDescripcion").val();
                capint++;
                drawPoint(mouseX, mouseY);
                setDiv(capint, value);
                sendData(capint, value, mouseX, mouseY);
                $('#exampleModal').modal('hide');



            }



        });

    </script>


</body>
</html>

