@model  SPRING_SALUD.Models.FormPanelEmployee
@{
ViewBag.Title = "FormEdit";
Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
@section cuerpo
{
<h1>Grid with batch saving</h1>
@Html.Raw(ViewBag.HtmlOutput)
}

