
@{
    ViewBag.Title = "Portal - Ext.NET MVC Examples";
    //Layout = "~/Views/Shared/_BaseLayout.cshtml";
    var X = Html.X();
}




    <title></title>
    <link href="../../../../resources/css/examples.css" rel="stylesheet" />

    <style>
        .msg {
            border: 1px solid #999;
            padding: 6px;
            width: 250px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 30px;
        }

            .msg em {
                font-style: italic;
                font-weight: bold;
            }
    </style>




     <ext:panel runat="server"
                       title='XXXXXXXXXXXXXXX'
                       border="false"
                       html='ccccccccccccccccccc'
                       autodatabind="true" />

  
