@using Region = Ext.Net.Region
@model SoluccionSalud.Entidades.Entidades.PERSONAMAST
@{
    var X = Html.X();

    var STYLE_TEXT = "Border : none; background: none; font: normal 11px tahoma; height: 18px;";
    var STYLE_BORDERFIELDSET = "border-color: #FA5858;";
    var STYLE_BORDERFIELDSET2 = "border: 1px solid #ef092c;";
    var STYLE_LABEL = "'width:100px;height: 18px; margin-right:5px; font: bold 11px tahoma ; color: #284A89 ' >";
    var STYLE_LABEL_SMALL = "'width:10px;height: 18px; margin-right:5px; font: bold 11px tahoma ; color: #284A89 ' >";
    var STYLE_LABELALERGIAS = "'width:100px;height: 18px; margin-right:5px; font: bold 11px tahoma ; color: #FA5858 ' >";

    var STYLE_ETQ_ABR = "<label style= ";
    var STYLE_ETQ_CER = "</label>";

    var STYLE_ETQ_ABRTITULO = "<b style= ";
    var STYLE_ETQ_CERTITULO = "</b>";
    var COLORBLU01 = "#284A89";

}

<script>

    var seleccionDataActual = null;
    function setSeleccionRecord(record) {
        seleccionDataActual = record;
    }


  

    function eventoCallValidaReglaGen(TIPO_REGLA) {
        if (TIPO_REGLA = 'REGLA01') {

        } else {

        }
    }



</script>


@(X.Panel()
        .ID("North001")
        .Layout(LayoutType.HBox)
        //.AutoScroll(true)
        .Border(false)
        .DefaultAnchor("100% 100%")
        //.LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.StretchMax })
        .Listeners(l =>
            {
                l.AfterLayout.BroadcastOnBus = "App.resize";
                l.AfterLayout.Single = true;
               
                /*l.AfterRender.Handler =
                    "eventoValidaReglaGen('POSaludControlGinecologia', '" + (Url.Action("POSaludControlGinecologia")) + "');" +
                    "eventoValidaReglaGen('POSaludExamenLaboratorio', '" + (Url.Action("POSaludExamenLaboratorio")) + "');" +
                    "";*/
            })
           .Items(
                X.Panel()
        //.Title("Datos básicos del paciente")
        // .ResizableConfig(new Resizer() { MinHeight = 120, MinWidth = 120, Transparent = true })
                .ID("West1.1")
                .Width(460)
                .MinWidth(225)
                .MaxWidth(500)
                .Split(false)
                .Border(false)
                .Items(
                    X.Panel()
                    .Border(false)
                    .BodyPadding(6)
                    .Items(
                                                 
                        )



                    ),
                    X.Panel().Flex(1)
                    .ID("Center1.1")
        //.ResizableConfig(new Resizer()
        //{ MinHeight = 120, MinWidth = 220, Transparent = true })
                    .Split(true)
                    .Border(false)
                    .Layout(LayoutType.Fit)
                    .Items(
                        X.Panel()
        //.Title("Center")
                        .Border(false)
                        .BodyPadding(6)
                        .Layout(LayoutType.VBox)

                        .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
                    
                    )

                    ,
                    X.Panel()
                     .ID("East1.1")
        //.ResizableConfig(new Resizer() { MinHeight = 120, MinWidth = 120, Transparent = true })
                       .Split(true)
                        .Border(false)
                        .Layout(LayoutType.Fit)
                    .Items(
                        X.Panel()
                           .Border(false)
                            .BodyPadding(6)
                            .Layout(LayoutType.VBox)
                            .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
                        .Items(
                          


                        )
                    )


             )




)


