/*
HOJA DE ESTILOS IMPORTADA DESDE LA CARPETA SHARED DE VIEWS
*/

/*declaración inicial */
:root {
 --colorBlueMain: #284A89;
 --colorGreen01: green;
}

.circulo {            
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    align-content: center;            
}

.lbLeyenda {            
    font-style: italic;
    color: var(--colorBlueMain);
    size: 11px;
    
}

    
.TreePanelBody-RS {            
    border: none;   
}
