<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--<system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SoaServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.1.4.72/WsRoyal/SoaService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SoaServiceSoap"
                contract="HceServiceSub_.SoaServiceSoap" name="SoaServiceSoap" />
        </client>
    </system.serviceModel>-->

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SoaServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://10.0.8.37/ServiceHCE/SoaService.asmx" binding="basicHttpBinding"
        bindingConfiguration="SoaServiceSoap" contract="HceService.SoaServiceSoap"
        name="SoaServiceSoap" />-->
      <!--<endpoint address="http://localhost:25129/SoaService.asmx" binding="basicHttpBinding"
        bindingConfiguration="SoaServiceSoap" contract="HceService.SoaServiceSoap"
        name="SoaServiceSoap" />-->
      <!--<endpoint address="http://10.0.8.36/ServiceHCE/SoaService.asmx" binding="basicHttpBinding"
        bindingConfiguration="SoaServiceSoap" contract="HceService.SoaServiceSoap"
        name="SoaServiceSoap" />-->
      <!--<endpoint address="http://10.1.4.72/ServiceHCE/SoaService.asmx" binding="basicHttpBinding"
        bindingConfiguration="SoaServiceSoap" contract="HceService.SoaServiceSoap"
        name="SoaServiceSoap" />-->
      <!--<endpoint address="http://10.1.4.75/ServiceHCE/SoaService.asmx" binding="basicHttpBinding"
        bindingConfiguration="SoaServiceSoap" contract="HceService.SoaServiceSoap"
        name="SoaServiceSoap" />-->
      <!--<endpoint address="http://10.1.4.75/WsRoyal/SoaService.asmx" binding="basicHttpBinding"
        bindingConfiguration="SoaServiceSoap" contract="HceService.SoaServiceSoap"
        name="SoaServiceSoap" />-->
      <endpoint address="http://10.1.4.72/WsRoyal/SoaService.asmx" binding="basicHttpBinding" bindingConfiguration="SoaServiceSoap" contract="HceServiceSub_.SoaServiceSoap" name="SoaServiceSoap" />
    </client>
  </system.serviceModel>
  

</configuration>