<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="ModelFormularios" connectionString="metadata=res://*/ModelFormularios.csdl|res://*/ModelFormularios.ssdl|res://*/ModelFormularios.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.2.90;initial catalog=WEB_ERPSALUD;persist security info=True;user id=local;password=local2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WEB_ERPSALUDEntities" connectionString="metadata=res://*/ModelFormularios.csdl|res://*/ModelFormularios.ssdl|res://*/ModelFormularios.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.2.90;initial catalog=WEB_ERPSALUD;persist security info=True;user id=local;password=local2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ModelFormularios" connectionString="metadata=res://*/ModelFormularios.csdl|res://*/ModelFormularios.ssdl|res://*/ModelFormularios.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.2.95;initial catalog=Web_ERPSALUD-DESA;persist security info=True;user id=sa;password=royal2008;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WEB_ERPSALUDEntities" connectionString="metadata=res://*/ModelFormularios.csdl|res://*/ModelFormularios.ssdl|res://*/ModelFormularios.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.8.54;initial catalog=Web_ERPSALUD-DESA;persist security info=True;user id=csbhce;password=csbhce17c$bs4nn4;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ModelFormularios" connectionString="metadata=res://*/ModelFormularios.csdl|res://*/ModelFormularios.ssdl|res://*/ModelFormularios.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.4.75;initial catalog=WEB_ERPSALUD_CEG;persist security info=True;user id=sa;password=Sanna2018;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    
    -->


    <add name="ModelFormularios" connectionString="metadata=res://*/ModelFormularios.csdl|res://*/ModelFormularios.ssdl|res://*/ModelFormularios.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.2.95;initial catalog=Web_ERPSALUD-DESA;persist security info=True;user id=sa;password=royal2008;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WEB_ERPSALUDEntities" connectionString="metadata=res://*/ModelFormularios.csdl|res://*/ModelFormularios.ssdl|res://*/ModelFormularios.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.8.54;initial catalog=Web_ERPSALUD-DESA;persist security info=True;user id=csbhce;password=csbhce17c$bs4nn4;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />


  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>