<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->

    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="exceptionHandling" type="Microsoft.PrD:\DESARROLLO HCE\HCE-Publicado-23-01-2020\AppSaludMVC\Web.configactices.EnterpriseLibrary.ExceptionHandling.Configuration.Exce‌​ptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="thinkdb-configuration" type="ThinkNet.Database.Common.DatabaseSectionHandler, ThinkNet" />
    <section name="thinkcache-configuration" type="ThinkNet.Cache.WebCacheSectionHandler, ThinkNet" />
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
        <section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true" />
      </rptBuildProvider>
      <crystalReportViewer>
        <add key="ResourceUri" value="/crystalreportviewers13" />
      </crystalReportViewer>
    </crystalReports>
  </businessObjects>

  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">

    <listeners>
      <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="FTS Web" formatter="Text Formatter" log="" machineName="." traceOutputOptions="None" />
      <add name="Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="trace.log" formatter="Text Formatter" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Event Log Listener" />
          <add name="Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Flat File Trace Listener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Flat File Trace Listener" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>

  <connectionStrings>

    <!-- jordan  CSB_QA   8090  -->  

    <!--<add name="ClinicaElGolfEntities" connectionString="metadata=res://*/RemotaModel.csdl|res://*/RemotaModel.ssdl|res://*/RemotaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DARKON;initial catalog=BDOncologico;persist security info=True;user id=sa;password=sql2019;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WEB_ERPSALUDEntitiesPAE" connectionString="metadata=res://*/ModelPAE.csdl|res://*/ModelPAE.ssdl|res://*/ModelPAE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DARKON;initial catalog=WEB_ERPSALUD_CEG;persist security info=True;user id=sa;password=sql2019;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WEB_ERPSALUDReporteEntities" connectionString="metadata=res://*/ModelReportes.csdl|res://*/ModelReportes.ssdl|res://*/ModelReportes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DARKON;initial catalog=WEB_ERPSALUD_CEG;persist security info=True;user id=sa;password=sql2019;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WEB_ERPSALUDEntities" connectionString="metadata=res://*/ModelSalud.csdl|res://*/ModelSalud.ssdl|res://*/ModelSalud.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DARKON;initial catalog=WEB_ERPSALUD_CEG;persist security info=True;user id=sa;password=sql2019;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ModelFormularios" connectionString="metadata=res://*/ModelFormularios.csdl|res://*/ModelFormularios.ssdl|res://*/ModelFormularios.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DARKON;initial catalog=WEB_ERPSALUD_CEG;persist security info=True;user id=sa;password=sql2019;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Web_ERPSALUDConnectionString" connectionString="Data Source=DARKON;Initial Catalog=WEB_ERPSALUD_CEG;Persist Security Info=True;User ID=sa;Password=sql20192;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="WEB_ERPTSALUDConnectionString" connectionString="Data Source=DARKON;Initial Catalog=WEB_ERPSALUD_CEG;Persist Security Info=True;User ID=sa;Password=sql2019;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ConexionReportes" connectionString="Data Source=DARKON;Initial Catalog=WEB_ERPSALUD_CEG;Persist Security Info=True;User ID=sa;Password=sql2019" />-->

    <add name="ClinicaElGolfEntities" connectionString="metadata=res://*/RemotaModel.csdl|res://*/RemotaModel.ssdl|res://*/RemotaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.47.14\SQL2019;initial catalog=VISORMEDICO;persist security info=True;user id=sa;password=Royal2019;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WEB_ERPSALUDEntitiesPAE" connectionString="metadata=res://*/ModelPAE.csdl|res://*/ModelPAE.ssdl|res://*/ModelPAE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.47.14\SQL2019;initial catalog=WEB_ERPSALUD;persist security info=True;user id=sa;password=Royal2019;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WEB_ERPSALUDReporteEntities" connectionString="metadata=res://*/ModelReportes.csdl|res://*/ModelReportes.ssdl|res://*/ModelReportes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.47.14\SQL2019;initial catalog=WEB_ERPSALUD;persist security info=True;user id=sa;password=Royal2019;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WEB_ERPSALUDEntities" connectionString="metadata=res://*/ModelSalud.csdl|res://*/ModelSalud.ssdl|res://*/ModelSalud.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.47.14\SQL2019;initial catalog=WEB_ERPSALUD;persist security info=True;user id=sa;password=Royal2019;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ModelFormularios" connectionString="metadata=res://*/ModelFormularios.csdl|res://*/ModelFormularios.ssdl|res://*/ModelFormularios.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.47.14\SQL2019;initial catalog=WEB_ERPSALUD;persist security info=True;user id=sa;password=Royal2019;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Web_ERPSALUDConnectionString" connectionString="Data Source=192.168.47.14\SQL2019;Initial Catalog=WEB_ERPSALUD;Persist Security Info=True;User ID=sa;Password=Royal2019;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="WEB_ERPTSALUDConnectionString" connectionString="Data Source=192.168.47.14\SQL2019;Initial Catalog=WEB_ERPSALUD;Persist Security Info=True;User ID=sa;Password=Royal2019;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ConexionReportes" connectionString="Data Source=192.168.47.14\SQL2019;Initial Catalog=WEB_ERPSALUD;Persist Security Info=True;User ID=sa;Password=Royal2019" />


  </connectionStrings>
  <dataConfiguration defaultDatabase="WEB_ERPSALUDEntitiesPAE" />
  <appSettings>
    <!-- "OFF", "DEBUG", "INFO", "WARN", "ERROR", "FATAL" -->
    <!-- "ALL", "FILE", "CONSOLE" -->
    <add key="ApiRest" value="http://localhost:5452/" />
    <add key="QueueName" value="ClinicaGoft" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <!--<add key="timeExpired" value="600"/>-->
    <add key="thinknet.logging_level" value="ERROR" />
    <add key="thinknet.logging_type" value="ALL" />
    <!-- 如果不使用thinkdb-configuration配置节点，可以直接在这里设置数据连接字符串或connectionString的名称 -->
    <!--<add key="thinknet.database_connection_nameorstring" value="name=default" />-->
    <!-- 参考 database.context_class 配置说明 -->
    <!--<add key="thinknet.database_context_type" value="web" />-->
  </appSettings>

  <extnet ajaxTimeout="300000" />
  <system.web>
    <compilation debug="true" targetFramework="4.5">
   </compilation>
    <httpRuntime executionTimeout="5000" maxRequestLength="1048576" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Index" protection="All" timeout="5000" cookieless="UseCookies" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Ext.Net" />
        <add namespace="Ext.Net.MVC" />
          </namespaces>
      <controls>
        <add assembly="Ext.Net" namespace="Ext.Net" tagPrefix="ext" />
      </controls>
    </pages>
    <customErrors mode="On" defaultRedirect="~/Error/Index">
    </customErrors>
    <trace enabled="false" pageOutput="true" requestLimit="100" localOnly="false" />
    <httpHandlers>
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web,Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
    </httpHandlers>
    <httpModules>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </httpModules>
    <sessionState mode="InProc" timeout="60">
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler" />

      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
      <add name="asset" preCondition="integratedMode" verb="GET,HEAD" path="asset.axd" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
    </handlers>
    <modules>
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.Extensions.Logging" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.Sinks.File" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <thinkdb-configuration>
    <database-factory>
      <!--数据库驱动-->
      <!--<property name="database.provider_class">ThinkNet.Database.Common.SqlServerDatabase, ThinkNet</property>-->
      <!--数据上下文类型 [web,wcf,call,thread]或者实现ThinkNet.Infrastructure.ICurrentContext接口-->
      <property name="database.context_class">web</property>
      <!--数据库连接字符串-->
      <!--<property name="connection.connection_string"></property>-->
      <!--数据库连接Key-->
      <property name="connection.connection_string_name">default</property>
    </database-factory>
  </thinkdb-configuration>
  <thinkcache-configuration>
    <cache region="ThinkCache" expiration="5" priority="normal" />
  </thinkcache-configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SoaServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>

      <endpoint address="http://localhost:5452/SoaService.asmx" binding="basicHttpBinding"
      bindingConfiguration="SoaServiceSoap" contract="HceService.SoaServiceSoap" name="SoaServiceSoap" />

    </client>
  </system.serviceModel>
</configuration>