<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SoluccionSalud.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <SoluccionSalud.Service.Properties.Settings>
            <setting name="SoluccionSalud_Service_WebReference_ServiciosSalud"
                serializeAs="String">
                <value>http://10.10.2.62/SOAService/ServiciosSalud.asmx</value>
            </setting>
            <setting name="SoluccionSalud_Service_ReglasLocal_ReglasSaludServiceImplService"
                serializeAs="String">
                <value>http://localhost:8181/WebService/ReglasSaludService</value>
            </setting>
        </SoluccionSalud.Service.Properties.Settings>
    </applicationSettings>
</configuration>