@model SoluccionSalud.Entidades.Entidades.VW_PERSONAPACIENTE
@{
    var X = Html.X();
}



<script>    
    function EventoSalirSys() {
        
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("eventoSalirSistema"))',
            params: {
                indicador: 'SALIR'
            }
        });
    };


    function eventoAbout() {        
        Ext.net.DirectMethod.request({
            url: '@(Url.Action("eventoAbout"))',
            params: {
                indicador: 'VER'
            }
        });
    };
    


</script>

    

    @(X.Panel()
        .Region(Region.North)
        .ID("North001")
        //.Title("Datos del Médico")
        .Layout(LayoutType.Fit)
        //.Layout(LayoutType.Border)
        //.Layout(LayoutType.HBox)
        //.Height(90)
        //.Width(800)
            .Resizable(false)
        .Border(false)
        .AutoScroll(true)
        //.DefaultAnchor("100% 100%")
        //.LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Top })
        .Listeners(l =>
            {
                l.AfterLayout.BroadcastOnBus = "App.resize";
                l.AfterLayout.Single = true;
            })
        .TopBar(
                Html.X().Toolbar()
                .Height(30)
                .Border(false)
                .Items(
                    items =>
                    {
                        items.Add(new ToolbarSpacer { Width = 10 });
                        items.Add(new Image
                        {
                            ImageUrl = "~/resources/images/logohce.png",
                            Width = 100,
                            Align = System.Web.UI.WebControls.ImageAlign.Middle,
                            Height = 30
                        });
                        items.Add(new ToolbarSpacer { Width = 20 });
                        items.Add(new Label
                        {
                            //Width = 400,
                          //  Html = "<span style='color:#284A89;'><b> Establecimiento: " + (Model != null ? Model.DireccionReferencia : "nulo") + "</b></span>"
                        });
                        items.Add(new ToolbarSpacer { Width = 20 });
                        items.Add(new Label
                        {
                            //Width = 110,
                            //OBS: HARCCODE??
                         //   Html = "<span style='color:#284A89;'><b> Periodo: " + (Model != null ? Model.CentroCostos : "nulo") + " </b></span>"

                        });
                        items.Add(new ToolbarSpacer { Width = 20 });
                        items.Add(new Label
                        {
                            //Width = 250,
                            //OBS: HARCCODE??
                         //   Html = "<span style='color:#284A89;'><b> Base de Datos: " + (Model != null ? Model.DescripcionHistoria : "nulo") + " </b></span>"

                        });

                        items.Add(new ToolbarFill());
                        items.Add(new Label
                        {
                            //Width = 300,
                            Html = "<span style='color:#284A89;'><b> " + Model.TipoTrabajador + ": " +
                                    (Model != null ? Model.NombreCompleto : "") + " - " +
                                    (Model != null ? "(" + Model.Persona + ")" : "")
                                    + " </b></span>"
                        });
                        items.Add(new ToolbarSeparator());
                        items.Add(new Button
                        {
                            Icon = Icon.UserHome,
                            Html = "<span style='color:#284A89;'><b> Mi Sesión </b></span>",
                            Margins = "0 0 0 0",
                            Width = 120,
                            /*Listeners =
                                {
                                    Click =
                                    {
                                        Handler = "Ext.Msg.alert('TEST tool');"
                                    }
                                },*/
                            Menu =
                            {
                                new Menu{
                                    Items = {
                                        new MenuItem { Text =  "Configuración", Icon = Icon.Cog },
                                        new MenuItem { 
                                            Text =  "Acerca de...", 
                                            Icon = Icon.Information ,
                                            Handler = "eventoAbout();"
                                            
                                        },
                                        new MenuItem {
                                            Text =  "Salir",
                                            Icon = Icon.DoorOut ,
                                            Handler = "EventoSalirSys();"
                                        }
                                    }
                                }
                            }
                        });
                    }


                )
        )
        .Items(
                Html.X().Toolbar()
                .Height(30)
                .Border(false)
                .Items(
                    items =>
                    {
                        items.Add(new ToolbarFill());
                        items.Add(new Label
                        {
                            //Width = 300,
                            Html = "<span style='color:#284A89;'><b> Usuario: " +
                                    (Model != null ? "" + Model.USUARIO : "") + " </b></span>"
                        });
                        items.Add(new ToolbarSeparator());
                        items.Add(new ToolbarSpacer { Width = 120 });
                    }


                )

        )

)



