@model SoluccionSalud.Entidades.Entidades.SS_HC_Procedimiento 

@{
    var X = Html.X();
}

<script>

    var template = '<span style="color:{0};">{1}</span>';
    var COLOR_BLUE01 = "#284A89";
    var COLOR_RED01 = "#990000";

    var changeEstado = function (value) {
        var template = '<span style="color:{0};">{1}</span>';
        if (value == 0)
            return Ext.String.format(template, COLOR_BLUE01, "Activo");
        if (value == 1)
            return Ext.String.format(template, COLOR_RED01, "Inactivo");
    };

    var seleccionActual = null;
    var seleccionActualDesc = null;
    function setSeleccion(param1, param2) {
        seleccionActual = param1;
        seleccionActualDesc = param2;
    }

    var onSuccess = function (grid, data) {
        grid.show();
        grid.getStore().loadData(data);
    };

    var onFailure = function (modo) {
        Ext.Msg.notify("EVENTO: FAILURE", "MODEL::" + modo);
    };

    function enviarSeleccion(grid) {
        if (seleccionActual != null) {
            var status = seleccionActual;
            var status2 = seleccionActualDesc;
            Ext.net.DirectMethod.request({
                url: '@(Url.Action(Model.Accion))',
                params: {
                    MODO: 'get',
                    id: status,
                    descripcion: status2,
                    idWindow: "WindowSelecProcedimiento"
                }
            });
        } else {
            Ext.Msg.alert('Debe Seleccionar un elemento.');
        }

    }

    function enviarSeleccionDirect(param1, param2) {
        var status = param1;
        var status2 = param2;
        Ext.net.DirectMethod.request({
            url: '@(Url.Action(Model.Accion))',
            params: {
                MODO: 'get',
                id: status,
                descripcion: status2,
                idWindow: "WindowSelecProcedimiento"
            }
        });
    }

    var eventoCheckFiltro = function (check, componente) {
        var checkAll = check.getValue();
        if (checkAll) {
            componente.setDisabled(true);
            componente.setValue(null);
        } else {
            componente.setDisabled(false);
        }
    };

    var accionBuscarFiltroProc = function (tipo) {
        varTipoBuscar = tipo;
        App.GridPanelSelProcedimiento.getStore().reload();
        varTipoBuscar = 'LOAD';
    };
</script>

@(Html.X().Window()
    .Width(450)
    .Height(450)
    .Maximizable(true)
    .Modal(true)
    .OnEsc("false")
    .AutoScroll(true)
    .Layout(LayoutType.Fit)
    .CloseAction(CloseAction.Destroy)
    .Icon(Icon.ApplicationForm)
        .ID("WindowSelecProcedimiento")
    .Title("Seleccionar Procedimiento Padre")
    .Padding(4)
        .TopBar(
                                         X.Toolbar()
                                         .Height(30)
                                             .Items(
                                           X.Button()
                                            .Text("Buscar")
                                                .Icon(Icon.Find)
                                                 .Handler("accionBuscarFiltroProc('FILTRO');"),
                                                        X.ToolbarFill(),
                                            X.Button()
                                                .Text("Aceptar")
                                                .Icon(Icon.Accept)
                                                .Handler("enviarSeleccion(App.GridPanelSelProcedimiento.getSelectionSubmit().getSelectionModelField().getValue());")

                                                     ,
                                            X.Button()
                                                .Text("Cancelar")
                                                .Icon(Icon.Cancel)
                                                 .DirectEvents(de =>
                                                  {
                                                      de.Click.Url = Url.Action("cerrarWindow");

                                                      de.Click.ExtraParams.Add(new Parameter(
                                                            "id", "WindowSelecProcedimiento", ParameterMode.Value));

                                                  })
                                             )

        )

            .Items(
                        X.GridPanel()
                                                        .TopBar(
                                    X.Toolbar()
                                        .Items(
                                           X.Checkbox().FieldLabel("Descripción").ID("chkId").Checked(true)
                                               .Handler("eventoCheckFiltro(App.chkId,App.tfBuscarDescc);").LabelWidth(70),
                                        X.TextField()
                                            .ID("tfBuscarDescc").Disabled(true)
                                        .FieldLabel(""),
                                        X.ToolbarFill()
                                    )
                                )
                            .Border(false)
                            .Scroll(ScrollMode.Both)
                            .AutoScroll(true)
                            .ID("GridPanelSelProcedimiento")

                            .Margins("0 0 0 0")
                        .Store(store => store.Add(
                                 Html.X().Store()
                                     .ID("StoreSelProcedimiento")
                                     .AutoLoad(true)
                                     .RemoteSort(false)
                                     .IsPagingStore(true)
                                     .RemotePaging(true)
                                     .PageSize(15)
     .Proxy(proxy => proxy.Add(Html.X().AjaxProxy()
                                                    .Url("getGrillaProcedimiento")
                                                    
                                            .Reader(reader => reader.Add(Html.X().JsonReader()
                                            .Root("data")
                                            .TotalProperty("total")
                                                 .IDProperty("IdProcedimiento"))))
                                                )
                                                        .Parameters(ps =>
                                                                ps.Add(new
                                                                        {
                                                                            descripcion = JRawValue.From("App.tfBuscarDescc.getValue()"),
                                                                            tipoBuscar = JRawValue.From("varTipoBuscar")
                                                                        })
                                                         )
                                     .Model(model => model.Add(Html.X().Model()
                                             .Fields(fields =>
                                             {
                                                 fields.Add(Html.X().ModelField().Name("IdProcedimiento"));
                                                 fields.Add(Html.X().ModelField().Name("Descripcion"));
                                                 fields.Add(Html.X().ModelField().Name("Estado"));
                                             }))
                                            )
                                          )
                               )

                            ///CONFIGURAR LAS COLUMNAS
                            .ColumnModel(columnModel =>
                            {
                                columnModel.Columns.Add(Html.X().Column().Text("ID").DataIndex("IdProcedimiento").Width(80));
                                columnModel.Columns.Add(Html.X().Column().Text("Descripción").DataIndex("Descripcion").Width(300));
                                columnModel.Columns.Add(Html.X().Column().Text("Estado").DataIndex("Estado").Width(100)
                                .Renderer("changeEstado"));
                            })
                             .View(Html.X().GridView().TrackOver(false))
                                    .Border(false)
                                .Listeners(l => l.CellDblClick
                                            .Handler = "enviarSeleccionDirect(record.data.IdProcedimiento,record.data.Descripcion);")
                                .Listeners(l => l.CellClick
                                            .Handler = "setSeleccion(record.data.IdProcedimiento,record.data.Descripcion);")
                                .BottomBar(bar => bar.Add(
                                    Html.X().PagingToolbar()

                                ))
                                )
                                 .CloseAction(CloseAction.Destroy)

)
@(
 X.KeyNav()
    .Target("WindowSelecProcedimiento")
    .Enter(a => a.Handler = "accionBuscarFiltroProc('FILTRO');")
)                          